@*@using StorePanel.Infrastructure.Helpers.da*@

@model StorePanel.Core.Models.Article

@{
    ViewData["Title"] = "جزییات خبر";
}


<main class="main">
    <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">خانه</a></li>
                <li class="breadcrumb-item active" aria-current="page">خبر</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <figure class="entry-media">
            <img style="max-height: 400px;" src="/UploadedFiles/Images/@Model.Image" alt="توضیحات عکس">
        </figure><!-- End .entry-media -->
        <div class="container">
            <article class="entry single-entry entry-fullwidth">
                <div class="row">
                    <div class="col-lg-11 mx-auto">
                        <div class="entry-body">
                            <div class="entry-meta">
                                <span class="entry-author">
                                    نویسنده : <a href="#">@Model.User</a>
                                </span>
                                <span class="meta-separator">|</span>
                                <a href="#">@Model.AddedDate</a>
                                <span class="meta-separator">|</span>
                                <a href="#">@Model.ArticleComments.Count() دیدگاه</a>
                            </div><!-- End .entry-meta -->

                            <h2 class="entry-title entry-title-big">
                                @Model.Title
                            </h2><!-- End .entry-title -->

                            <div class="entry-cats">
                                <a href="#">
                                    @Model.ArticleCategory
                                </a>
                            </div><!-- End .entry-cats -->

                            <div class="entry-content editor-content">
                                <p>
                                    @Model.ShortDescription
                                </p>

                                <p>
                                    @Html.Raw(Model.Description)
                                </p>

                            </div><!-- End .entry-content -->

                        </div><!-- End .entry-body -->
                    </div><!-- End .col-lg-11 -->

                </div><!-- End .row -->

            </article><!-- End .entry -->


            <div class="comments">
                <h3 class="title">@Model.ArticleComments.Count() دیدگاه</h3><!-- End .title -->
            </div><!-- End .comments -->
            <div class="reply">
                <div class="heading">
                    <h3 class="title">ارسال یک دیدگاه</h3><!-- End .title -->
                </div><!-- End .heading -->

                <div class="reviews text-right">
                    @foreach (var item in Model.ArticleComments)
                    {
                        <div class="review">
                            <div class="row no-gutters">
                                <div class="col-auto">
                                    <h4>
                                        <a href="#">
                                            @item.Name
                                        </a>
                                    </h4>
                                    <span class="review-date">@item.AddedDate</span>
                                </div><!-- End .col -->
                                <div class="col-9">
                                    <div class="review-content">
                                        <p>
                                            @item.Message
                                        </p>
                                    </div><!-- End .review-content -->

                                </div><!-- End .col-auto -->
                            </div><!-- End .row -->
                        </div><!-- End .review -->
                    }
                </div>

                <form id="comentForm">
                    <input value="@Model.Id" id="blogId" hidden />
                    <label for="reply-message" class="sr-only">دیدگاه</label>
                    <textarea name="reply-message" id="Ymssge" cols="30" rows="4" class="form-control"
                              required placeholder="دیدگاه شما *"></textarea>

                    <div class="row">
                        <div class="col-md-6">
                            <label for="reply-name" class="sr-only">نام</label>
                            <input type="text" class="form-control" id="Yname" name="reply-name" required
                                   placeholder="نام شما *">
                        </div><!-- End .col-md-6 -->

                        <div class="col-md-6">
                            <label for="reply-email" class="sr-only">ایمیل</label>
                            <input type="email" class="form-control" id="Yemail" name="reply-email"
                                   required placeholder="ایمیل شما *">
                        </div><!-- End .col-md-6 -->
                    </div><!-- End .row -->

                    <button type="submit" onclick=" sendComent() " id="ComentformBtn" class="btn btn-outline-primary-2 float-right">
                        <span>ارسال دیدگاه</span>
                        <i class="icon-long-arrow-left"></i>
                    </button>
                </form>
            </div><!-- End .reply -->


        </div><!-- End .container -->
    </div><!-- End .page-content -->
</main><!-- End .main -->


@section scripts{

    <script>
        function sendComent() {
            // Initiate Variables With Form Content
            var email = $("#Yemail").val();
            var name = $("#Yname").val();
            var message = $("#Ymssge").val();
            var blogid = $("#blogId").val();
            $.ajax({
                type: "POST",
                url: "/blog/SendComment",
                data: "Email=" + email + "&Name=" + name + "&Message=" + message + "&ArticleId=" + blogid ,
                success: function (text) {
                    if (text == "success") {
                        $("#ComentformBtn").css("background-color", "green");
                        $("#ComentformBtn").text("ثبت شد");
                        $("#Yemail").val("");
                        $("#Yname").val("");
                        $("#Ymssge").val("");
                        location.reload();
                    } else {
                        $("#ComentformBtn").css("background-color", "red");
                        $("#ComentformBtn").text("خطا");
                    }
                }
            });
        }
    </script>
}

