@model IEnumerable<StorePanel.Web.ViewModels.ProductWithPriceViewModel>


@if (Model.Any())
{



    <div class="tab-content">
        <div class="tab-pane p-0 fade show active" id="top-all-tab" role="tabpanel"
             aria-labelledby="top-all-link">
            <div class="products">
                <div class="row justify-content-center">
                    @foreach (var item in Model)
                    {

                        <div class="col-6 col-md-4 col-lg-3 col-xl-5col">
                            <div class="product product-11 text-center">
                                <figure class="product-media">
                                    <a href="/shop/detail/@item.Id">
                                        <img src="/UploadedFiles/Images/@item.Image" alt="@item.ShortTitle" class="product-image">
                                    </a>

                                    <div class="product-action-vertical">
                                        <a href="javascript:void(0)" onclick=" AddToWishList(@item.Id) " class="btn-product-icon btn-wishlist">
                                            <i class="fa fa-heart "></i>
                                            <span>
                                                افزودن به
                                                لیست علاقه مندی
                                            </span>
                                        </a>
                                    </div><!-- End .product-action-vertical -->
                                </figure><!-- End .product-media -->

                                <div class="product-body">
                                    <h3 class="product-title text-center">
                                        <a href="/shop/detail/@item.Id">
                                            @item.ShortTitle
                                        </a>
                                    </h3>
                                    <!-- End .product-title -->
                                    <div class="product-price">
                                        @item.Price
                                        تومان
                                    </div><!-- End .product-price -->

                                </div><!-- End .product-body -->
                                <div class="product-action">
                                    <a href="javascript:void(0)" onclick=" AddToCart(@item.Id,@item.MainFeatureId) " class="btn-product btn-cart"><span>افزودن به سبد خرید</span></a>
                                </div><!-- End .product-action -->
                            </div><!-- End .product -->
                        </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->
                    }

                </div><!-- End .row -->
            </div><!-- End .products -->
        </div><!-- .End .tab-pane -->
    </div><!-- End .tab-content -->
}

