@model StorePanel.Core.Models.Discount

<input type="hidden" id="title" value="حذف تخفیف" />

<h4 class="card-label">
    آیا مطمئن هستید که می خواهید این رکورد را حذف کنید؟
</h4>
<dl class="row" style="padding-top:10px">
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.Title)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.Title)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.DiscountType)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.DiscountType)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.Amount)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.Amount)
    </dd>
</dl>
<div style="float:left">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <input type="submit" value="حذف" class="btn btn-danger mr-2" />
    }
</div>